# Visual Studio
.vs/

# Build
bin/
obj/

# User files
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# VS Code
.vscode/

# Logs
*.log

# NuGet
*.nupkg
packages/

# Outros temporários
*.vsidx
